<header class="site-header">
  <div class="wrapper">
    {%- assign menu = site.data.menu.primary -%}

    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <img src="{{ 'assets/images/cropped-fav.webp' | relative_url }}" alt="Site Logo" style="height: 40px; vertical-align: middle;"> Richard <strong>Veselý</strong>
    </a>

<!-- Hamburger Menu Icon -->
<button class="hamburger-icon">☰</button>

<nav class="site-nav">
  <ul class="menu">
    {% for item in menu %}
      {% if item.subfolderitems %}
        <li class="dropdown">
          <a href="javascript:void(0)">{{ item.title }}</a>
          <ul class="dropdown-content">
            {% for subitem in item.subfolderitems %}
              <li><a href="{{ subitem.url | relative_url }}">{{ subitem.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
    <!-- Language Switch -->
    <li>
      {% if page.translation_url %}
        <a href="{{ page.translation_url | absolute_url }}" title="Switch language">
          <img src="{{ site.data.lang.flag_icon | relative_url }}" alt="Language Flag" style="height: 24px;">
        </a>
      {% else %}
        <a href="{{ site.data.lang.other_language_homepage }}" title="Switch language">
          <img src="{{ site.data.lang.flag_icon | relative_url }}" alt="Language Flag" style="height: 24px;">
        </a>
      {% endif %}
    </li>
  </ul>
</nav>
</div>
</header>


