.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000; /* Black background */
    color: #fff !important; /* White text, ensuring override of <a> tag default styles */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid transparent; /* Transparent border by default */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #a2c9f3 !important; /* Change text color to blue on hover/focus */
    text-decoration: none; /* Override any text-decoration changes on hover/focus/active */
}
