// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
/* Style for the 3-column grid */
.blog-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
/* Style for each blog card */
.blog-card {
  flex-basis: calc(30% - 20px);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5; /* Greyish background color */
}

/* Hover effect for the cards (optional) */
.blog-card:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
  
  .blog-card a {
    text-decoration: none;
    color: #333;
  }
  
  .blog-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: -15px; /* Adjust this value as needed */

  }

  /* Reduce spacing between individual words in the title */
.blog-card h2 {
    line-height: 1.2; /* Adjust this value as needed */
}
  
  
  .date {
    font-size: 0.8em;
    color: #888;
  }
  
  /* Add more CSS as needed for larger screens */
@media screen and (max-width: 768px) {
    /* Styles for screens 768px and smaller (e.g., tablets and phones) */
    .blog-grid {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  
    .blog-card {
      flex-basis: 100%;
      /* Modify styles to fit a single column layout for smaller screens */
    }
  }

  .description {
    margin-top: 20px; /* Adjust this value as needed for the desired gap */
  }